@import "tailwindcss";

input{
    padding: 10px 12px;
    border: 1px solid gray;
    border-radius: 10px;
}

button{
    padding: 10px 12px;
    border: 2px solid rgb(165, 107, 0);
    border-radius: 10px;
    cursor: pointer;
    background-color: orange;
}